@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply p-3 text-white bg-blue-700;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
